@using Microsoft.AspNetCore.Identity
@using Ulx.Data.Repository.IRepository

@inject IUserRepository _users
@inject UserManager<User> _userManager


<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        User user = _users.FirstOrDefault(r => r.Email == _userManager.GetUserName(User));
        IList<string> roles = await _userManager.GetRolesAsync(user);
        string userName = "NoName";
        if (user != null)
        {
            userName = user.Name;
        }

       // int count = _users.GetAll().Count(r=>r.Id==user.Id);
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hello @userName!&nbsp;&nbsp;
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                @*<li><a class="dropdown-item"  asp-controller="Account" asp-action="Edit" asp-route-id="@user.Id" >Profile</a></li>*@
                @if (roles.Contains(WebConstants.UserRole))
                {
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Ads">My ads</a></li>
                }
                @if (roles.Contains(WebConstants.AdminRole))
                {
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Categories">Categories</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Ads">All ads</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Index">User manager</a></li>
                }
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout" >Logout</a></li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
